- content_for :meta_tags do
  = render partial: "application/meta_tags", locals: { title: "Costa 506 Real Estate", descripcion: "Somos una oficina de Bienes y Raíces con experiencia en alquiler y venta de propiedades en Costa Rica, en esta página usted podrá obtener en línea información, realizar consultas y solicitudes referentes a bienes raíces.", image: image_path('logo-share-horizontal.png'), author_handle: "@Costa506"}
- content_for :full_width_header do
  - render 'application/header'

- content_for :content do
  - render 'application/home_latest'
