/*
*= require font-awesome
*/

$gris: #888;
$azul: #223551;

@page {
  size: A4 portrait;
  margin: 0;
}

html, body {
  //width: 210mm;
  //height: 297mm;
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

html {
  padding: 28px;
}

.wrapper {
  float: none;
  margin: 0 auto;
  display: inline-block;
}

img {
  max-width: 100%;
  margin: 0;
  display: block;
}

.main {
  position: relative;
}

.title-bar {
  background-color: green;
  color: #fff;
  background-image: asset_url('cccbr.png');
  background-position: right 8px top 8px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 20px 150px 20px 20px;
  background-size: 80px;

  h1 {
    margin: 0;
    color: #fff !important;
  }
}

.imagenes-secundarias {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  border: solid 5px #fff;
  border-right: 0;
  box-sizing: border-box;

  img {

    &:first-child {
      border-bottom: solid 5px #fff;
    }
  }

}

.imagenes {
  position: relative;
}

.description {
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 20px;
  font-size: 1.2em;
}

.precio-de-venta {
  background: #f00;
  color: #fff;
  padding: 20px;
  font-size: 2em;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.informacion-adicional {
  box-sizing: border-box;
  float: left;
  width: 35%;
  padding: 40px 20px 20px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    color: darken($gris, 30%);
    margin-bottom: 13px;
    font-size: 1.6em;

    .fa {
      margin-right: 10px;
    }

    img {
      margin-right: 10px;
      display: inline-block;
      width: 20px;
    }
  }
}

.informacion-de-contacto {
  width: 25%;
  float: left;
  color: $azul;
  text-align: center;
  padding-top: 20px;

  img {
    width: 90%;
    display: inline-block;
  }

  p {
    margin: 0;
    margin-bottom: 10px;
    color: $azul;
    font-size: 2em;
    line-height: 1em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

@media print {



}


.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}
