@import 'bootsy';
@import 'glyphicons';
@import 'font-awesome';
@import 's3_direct_upload_progress_bars';

$border-color: #e7e7e7;
$background-color: #f8f8f8;

.image-form-preview {
  display:inline-block;
  margin: 10px;

  .cover {
    border: 3px solid red;
  }
}

.estatus_field[title = 'borrador']{
	color: red;
}
.estado_field[title = 'Disponible']{
	color: green;
}
.estado_field[title = 'Alquilado'], .estado_field[title = 'Vendido']{
	color: orange;
}

body.agente #admin_permisos_field {
  display: none;
}

body.agente form#new_propietario #propietario_admin_id_field {
  display: none;
}
body.agente form#edit_propietario #propietario_admin_id_field {
  display: none;
}
body.agente form#new_propiedad #propiedad_admin_id_field {
  display: none;
}
body.agente form#edit_propiedad #propiedad_admin_id_field {
  display: none;
}
.form-horizontal{
  padding-bottom: 60px;
}

.form-group.form-actions {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $background-color;
  padding: 5px 0;
  z-index: 1000;
  border-top: 1px solid $border-color;
  margin-bottom: 0;
}

.ra-multiselect .ui-icon.ui-icon-circle-triangle-e {
  background: asset_url('rails_admin/right.png');
  background-position: 0 0 !important;
  width: 32px;
  height: 32px;

  &:hover {
    background: asset_url('rails_admin/right.png');
    background-position: 0 0 !important;
    width: 32px;
    height: 32px;
  }
}

.ra-multiselect .ui-icon.ui-icon-circle-triangle-w {
  background: asset_url('rails_admin/left.png');
  background-position: 0 0 !important;
  width: 32px;
  height: 32px;

  &:hover {
    background: asset_url('rails_admin/left.png');
    background-position: 0 0 !important;
    width: 32px;
    height: 32px;
  }
}

.nav i{
  margin-right: 6px;
}
input:required:invalid, input:focus:invalid {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

input:required:invalid + .help-text, input:required:invalid + .help-block {
  display: block;
}

input:valid + .help-text, input:valid + .help-block {
  display: none;
}
