@import "froala_editor.min";
@import "froala_style.min";
@import "font-awesome";

.image-form-preview {
  display:inline-block;
  margin: 10px;

  .cover {
    border: 3px solid red;
  }
}

.estatus_field[title = 'borrador']{
	color: red;
}
.estado_field[title = 'Disponible']{
	color: green;
}
.estado_field[title = 'Alquilado'], .estado_field[title = 'Vendido']{
	color: orange;
}

body.agente form#new_propiedad #propiedad_admin_id_field {
  display: none;
}
