<% 
  related_id = params[:associations] && params[:associations][field.name.to_s]
  config = field.associated_model_config

  if form.object.new_record? && related_id.present? && related_id != 'new'
    selected = [config.abstract_model.get(related_id)]
  else
    selected = form.object.send(field.name)
  end
  selected_ids = selected.map { |s| s.send(field.associated_primary_key) }

  xhr = !field.associated_collection_cache_all

  collection = if xhr
    selected.map do |o| 
      [
        o.send(field.associated_object_label_method), 
        o.send(field.associated_primary_key)
      ] 
    end
  else
    controller.list_entries(
      config, 
      :index, 
      field.associated_collection_scope, 
      false
    ).map do |o| 
      [
        o.send(field.associated_object_label_method), 
        o.send(field.associated_primary_key)
      ]
    end
  end
%>

<div style="columns: 3;">
  <% collection.each do |titulo, id| %>
    <%= check_box_tag form.dom_name(field), id, selected_ids.include?(id), 
      id: "#{form.dom_id(field)}_#{id}" %>
    <%= label_tag "#{form.dom_id(field)}_#{id}", titulo %>
    <br>
  <% end %>
</div>
