$(document).ready(function () {

  var header_height = $('#header').height();

  /* parallax header */
  function parallax() {
    var scrolled = $(window).scrollTop();
    $('#header .backstretch img').css('top', '' + -(scrolled * 0.6) + 'px');
    $('.heading').css('background-position', 'center ' + -(scrolled * 0.5) + 'px');
  }

  /* navbar */
  $(window).scroll(function () {
    parallax();
    if ($(window).scrollTop() > header_height) {
      //$('.navbar').css('border-bottom-color', '#37bc9b');
    } else {
      //$('.navbar').css('border-bottom-color', '#fff');
    }
  });

  /* scrolltop */
  $('.scroltop').on('click', function (event) {
    var $anchor = $(this);
    $('html, body').stop().animate({
      scrollTop: $($anchor.attr('href')).offset().top
    }, 1500, 'easeInOutExpo');
    event.preventDefault();
  });


  /* masonry layout */
  var $container = $('.container-realestate');
  $container.imagesLoaded(function () {
    $container.masonry();
  });


  /* modal */
  $('.modal').on('shown.bs.modal', function () {
    var curModal = this;
    $('.modal').each(function () {
      if (this != curModal) {
        $(this).modal('hide');
      }
    });
  });

  $(".mensajes-especiales li").css('background', function () { //or for code's consistency, i'd use background-color instead
    return "#" + $(this).data('color')
  });

  //Slick
  $('.property-slider').slick({
    infinite: true,
    speed: 500,
    slidesToShow: 1,
    adaptiveHeight: true,
    lazyLoad: 'ondemand',
    arrows: true,
    prevArrow: "<a class='jcarousel-control-prev main' href='#'>‹</a>",
    nextArrow: "<a class='jcarousel-control-next main' href='#'>›</a>",
    mobileFirst: true,
    autoplay: true,
    autoplaySpeed: 6000,
  });

  $('.slider-nav').slick({
    slidesToShow: 3,
    slidesToScroll: 1,
    asNavFor: '.property-slider',
    centerMode: true,
    focusOnSelect: true,
    arrows: false,
    lazyLoad: 'ondemand',
    adaptiveHeight: false,
    variableWidth: true,
    centerMode: true,
  });

  $('.property-slider .slick-slide').click(function(){
    $('.popUpSlider').fadeIn();
  });
});

$(document).on('click', '#close-modal-button', function(e){
  $('.popUpSlider').fadeOut();
});
