/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-theme
 *= require bootstrap-slider
 *= require font-awesome
 *= require s3_direct_upload_progress_bars
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";
@import 'mixins';
@import "style";
@import 'jcarousel.responsive';
@import "propiedades";
@import 'dashboard';
@import 'forms';
@import 'slick';
@import 'slick-theme';

.admin-navbar{
	margin-bottom: 0;
}
.contact-header{
	background: #eee;
	color: #777;
	font-size: 0.9em;
	padding: 5px 0;
	border-bottom: solid 1px #ddd;
  .icon-facebook{
     i{
       font-size: 2em;
     }
  }
}

.navbar-brand {
  padding: 0 !important;

  //img {
  //  height: 80px !important;
  //}
}

.property-price div:last-child{
	padding-left: 20px;
}
.bathroom-index{
	height: 14px;
}
.tab-content{
	background: #fff;
	border: 1px solid #ddd;
	border-top: 0;
	padding: 40px;
}
.property-status div{
	display: none;
	padding: 5px 10px;
}
.venta{
	background: blue;
}


.alert {
  border-radius: 0;
  margin-bottom: 0;
  text-align: center;
}

.dropdown-backdrop{
    position: static;
}

// Social Buttons
// ------------------------------
$facebook: #265999;
$twitter: #00B1EF;
$googleplus: #e93f2e;
$instagram: #00749C;
$linkedin: #0e76a8;
$pinterest: #EF0020;
$whatsapp: rgb(72, 198, 102);
$email: rgb(69, 195, 244);
.icon-facebook{
  color: $facebook;
  a:hover, i:hover{
    color: lighten( $facebook, 10% );
  }
}
#socialicons{
  span{
    display: inline-block;
    padding: 5px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    font-size: 18px;
    margin-bottom: 10px;

    background: $gray-lightest;

    &.facebook{
      background-color: $facebook;
      &:hover{
        background-color: darken($facebook, 10%);
      }
    }
    &.twitter{
      background-color: $twitter;
      &:hover{
        background-color: darken($twitter, 10%);
      }
    }
    &.googleplus{
      background-color: $googleplus;
      &:hover{
        background-color: darken($googleplus, 10%);
      }
    }
    &.instagram{
      background-color: $instagram;
      &:hover{
        background-color: darken($instagram, 10%);
      }
    }
    &.linkedin{
      background-color: $linkedin;
      &:hover{
        background-color: darken($linkedin, 10%);
      }
    }
    &.pinterest{
      background-color: $pinterest;
      &:hover{
        background-color: darken($pinterest, 10%);
      }
    }
    &.whatsapp{
      background-color: $whatsapp;
      &:hover{
        background-color: darken($whatsapp, 10%);
      }
    }
    &.email{
      background-color: $email;
      &:hover{
        background-color: darken($email, 10%);
      }
    }
    a{
      width: 30px;
      height: 30px;
      display: block;
      text-align: center;
      line-height: 30px;
      color: #fff;
      border-radius: 50%;
    }
  }
}

@media screen and (max-width: 380px) {
  //.container, .single-post {
  //  padding-left: 0;
  //  padding-right: 0;
  //}
  //.tab-content {
  //  padding: 2px !important;
  //}

  .show-view {
    .container, .single-post {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.header-slide {
  p {
    color: black;
    margin-top: 30px;
    text-align: right;
    padding-right: 10px;

    a {
      color: black;
    }
  }

  .property-price {
    right: 10px;
    top: 60px;
    left: auto !important;
  }
}

.cccbr-logo{
  margin: 10px 0 0 40px;
}

#footer .widget ul.list-unstyled > li > a:before{
  display: none;
}

@import 'iphone';
