@media only screen and (max-width : 767px) {
  .navbar-default .navbar-brand::after{
      display:none;
  }
  .cccbr-logo{
    margin-left: 0;
    height: 40px;
  }

  .header-phones {
    font-size: 0.9em;
  }
  .navbar-brand img {
    height: 50px;
  }
  #header {
    //margin-top: 30px !important;
  }
  .add-watermark-large {
    height: 52px;
    width: 80px;
  }
}
