// Place all the styles related to the Propiedades controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.description-icons{
	i.fa{
		font-size:2em;
	    width: 40px;
	    text-align: center;
	    margin: 0 10px 10px 0;
	}
}
.carousel-indicators {
  position: static;
  bottom: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  text-align: center;
}

.carousel-indicators li {
  display: inline-block;
  width: 75px;
  height: 56px;
  overflow:hidden;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid #fff;
  border-radius: 0;
  cursor: pointer;
  background-color: #000 \9;
  background-color: transparent;
}

.carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #fff;
}

.propiedad-color-venta {
  background-color: #209922 !important;
}
.propiedad-color-alquiler {
  background-color: #2070a0 !important;
}
.propiedad-color-opcion_compra {
  background-color: #2070a0 !important;
}
.propiedad-color-venta_alquiler {
  background-color: #d73c3c !important;
}

.propiedad-color-alquilado {
  background-color: #fff !important;
  color: #2070a0 !important;
  h4 { margin: 0; }
}
.propiedad-color-vendido {
  background-color: #fff !important;
  color: #209922 !important;
  h4 { margin: 0; }
}

.propiedad-border-color-venta {
  border-color: #209922 !important;
}
.propiedad-border-color-alquiler {
  border-color: #2070a0 !important;
}
.propiedad-border-color-opcion_compra {
  border-color: #2070a0 !important;
}
.propiedad-border-color-venta_alquiler {
  border-color: #d73c3c !important;
}

.propiedad-text-color-venta {
  color: #209922 !important;
}
.propiedad-text-color-alquiler {
  color: #2070a0 !important;
}
.propiedad-text-color-opcion_compra {
  color: #2070a0 !important;
}
.propiedad-text-color-venta_alquiler {
  color: #d73c3c !important;
}

.full-width {
  .property-container {
    width: 100%;

    .image {
      img {
        width: 100%;
      }
    }
  }
}

.property-image .property-status {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 5px 0 5px;
  background-color: red;
  color: black;
}

.property-image-list{
  display: block;
  width: 100%;
  min-height: 200px;
  .property-status {
    position: absolute;
    right: 0;
    bottom: 35px;
    padding: 0 5px 0 5px;
    background-color: red;
    color: black;
  }
  .mensajes-especiales{
    position: static;
  }
  .bathroom-index{
    max-width: 14px;
  }
}
.team-container{
  .team-description{
    a{
      color: #fff;
    }
  }
}
.img-icon{
  width: 38px;
  margin: 0 10px 10px 0;
}
.codigo{
  font-weight: bold;
  padding: 10px;
  display: inline-block;
}

.add-watermark-large {
  background-image: asset_url('watermark-white.png');
  background-size: cover;
  bottom: 50px;
  height: 131px;
  position: absolute;
  right: 40px;
  width: 200px;
  z-index: 900;
}

.request_info_bottom {
  border: solid 2px ;
  width: 100%;
  display: block;
  padding: 10px 10px 14px 10px;
  text-align: center;
}
.add-watermark-grid {
  background-image: asset_url('watermark-white.png');
  background-size: cover;
  bottom: 7%;
  height: 29%;
  position: absolute;
  right: 26px;
  width: 33%;
  z-index: 900;
}
.add-watermark-horizontal {
  background-image: asset_url('watermark-white.png');
  background-size: cover;
  bottom: 52px;
  height: 23%;
  position: absolute;
  right: 25px;
  width: 30%;
  z-index: 900;
}
.heading-title-home{
  margin-top: 0;
}
#detail ul br{
  display: none;
}

.jcarousel-wrapper{
  overflow: hidden;
}

.banner-estado{
  position: absolute;
  background: $rojo;
  padding: 5px 10px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  width: 100%;
  top:0;
  z-index: 10;
  display: block;
  margin: 0;

}
.amenities-list{
  padding: 0 0 0 20px;
  @include mq('tablet') {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    list-style-position: inside;
    padding: 0;
  }
}

@media print {
  .contact-header, .navbar, #header, #footer, .nav-tabs, .sidebar, .request_info_bottom, #socialicons, h3, .property-description, .sidebar, .hidden-in-print {
    display: none;
  }
  #content {
    padding-top: 0;
  }
  .main-property-container {
    width: 100%;
    position: relative;
    left: 0;
  }
  .single-post .tab-content {
    border: 0;
  }
  .main-jcarousel ul {
    width: 100%;
    display: block;
    position: static;
    height: auto;
  }
  .main-jcarousel ul li {
    display: none;
    width: 100% !important;
    float: none;
    margin-right: 0 !important;
  }
  .main-jcarousel ul li img {
    width: 100%;
    display: block;
    float: none;
  }
  .main-jcarousel ul li:first-of-type {
    display: block;
  }
  .jcarousel-wrapper {
    margin-bottom: 0;
    border: 0;
  }
  .jcarousel-control-prev, .jcarousel-control-next, .separator {
    display: none;
  }
  .jcarousel-wrapper:last-of-type {
    margin-top: 0;
  }
  .container, .col-md-8.col-md-push-4 {
    margin: 0;
    width: 100%;
  }
  .col-md-8.col-md-push-4 {
    position: static;
  }
  #content .post-meta{
    padding-bottom: 0;
    padding-top: 0;
  }
  .jcarousel-wrapper {
    border: 0;
  }

  .jcarousel-wrapper img, .jcarousel-wrapper ul {
    width: 100%;
  }
  .propiedad-text-color-alquiler small {
    display: none;
  }
  .jcarousel-pagination-wrapper li{
    display: none;
  }
  .main-jcarousel ul {
    width: 100%;
  }
  .main-jcarousel ul li:nth-child(2), .main-jcarousel ul li:nth-child(3), .main-jcarousel ul li:nth-child(4){
    display: block;
    width: 33.3333% !important;
    float: left;
  }

  .tab-content {
    padding: 0 !important;
  }

  .big-picture {
    position: relative;
    min-height: 100px;
  }

  .price-print {
    background-color: #fff !important;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
    padding: 20px;
    font-size: 2em;
    color: #000;
    font-weight: bold;
    z-index: 1;
  }
}
