$red: #f00;

// Grays
// -------------------------

$gray-darker:            #061c21;
$gray-dark:              #333;
$gray:                   #555;
$gray-light:             #999;
$gray-lighter:           #eee;
$gray-lightest:          #f4f5f5; // T3 Note: Add gray lightest