#header.header-slide
  .container
    .row
      .col-md-5
        .quick-search
          .row
            = render 'propiedades/filters'

:javascript
  $(function() {
    $('.header-slide').backstretch([#{Slider.all.map { |s| '"' + s.imagen.url + '"' }.join(',')}], {
      fade: 850,
      duration: 8000
    });
  });
