#content
  .container
    .row
      .col-md-12
        .heading-title.hidden-xs.heading-title-home
          %h2 Propiedades Destacadas
        .visible-xs
          %h2 Propiedades Destacadas
    .row
      = render @featured

  .container
    .row
      .col-md-12
        .heading-title.hidden-xs
          %h2 Propiedades Recientes
        .visible-xs
          %h2 Propiedades Recientes
    .row
      = render @propiedades
