#content
  .container
    .row
      .col-md-12
        .heading-title.hidden-xs.heading-title-home
          %h2=(I18n.t 'featured_properties')
        .visible-xs
          %h2=(I18n.t 'featured_properties')
    .row
      = render @featured

  .container
    .row
      .col-md-12
        .heading-title.hidden-xs
          %h2=(I18n.t 'recent_properties')
        .visible-xs
          %h2=(I18n.t 'recent_properties')
    .row
      = render @propiedades
