<!-- begin:modal-signin -->
<div class="modal fade" id="modal-signin" tabindex="-1" role="dialog" aria-labelledby="modal-signin" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Sign in</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="emailAddress">Email address</label>
            <input type="email" class="form-control input-lg" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control input-lg" placeholder="Password">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="forget"> Keep me logged in
            </label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <p>Don't have account ? <a href="#modal-signup"  data-toggle="modal" data-target="#modal-signup">Sign up here.</a></p>
        <input type="submit" class="btn btn-success btn-block btn-lg" value="Sign in">
      </div>
    </div>
  </div>
</div>
<!-- end:modal-signin -->

<!-- begin:modal-signup -->
<div class="modal fade" id="modal-signup" tabindex="-1" role="dialog" aria-labelledby="modal-signup" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Sign up</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <input type="email" class="form-control input-lg" placeholder="Enter email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control input-lg" placeholder="Password">
          </div>
          <div class="form-group">
            <input type="password" class="form-control input-lg" placeholder="Confirm Password">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="agree"> Agree to our <a href="#">terms of use</a> and <a href="#">privacy policy</a>
            </label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <p>Already have account ? <a href="#modal-signin" data-toggle="modal" data-target="#modal-signin">Sign in here.</a></p>
        <input type="submit" class="btn btn-success btn-block btn-lg" value="Sign up">
      </div>
    </div>
  </div>
</div>
<!-- end:modal-signup -->