<!-- begin:news -->
<div id="news">
  <div class="container">
    <div class="row">
      <!-- begin:blog -->
      <div class="col-md-4 col-sm-4">
        <div class="row">
          <div class="col-md-12">
            <div class="heading-title heading-title-sm bg-white">
              <h2>Latest From Blog</h2>
            </div>
          </div>
        </div>
        <!-- break -->

        <div class="row">
          <div class="col-md-12">
            <div class="post-container post-noborder">
              <div class="post-img post-img-circle" style="background: url(img/img02.jpg);"></div>
              <div class="post-content">
                <div class="post-meta">
                  <span><em>in</em> <a href="#" title="View all posts in berita utama" rel="category tag">berita utama</a></span>
                  <span><em>April 22, 2014</em></span>
                </div>
                <div class="heading-title">
                  <h2><a href="#">Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin</a></h2>
                </div>
              </div>
            </div>
            <!-- break -->

            <div class="post-container post-noborder">
              <div class="post-img post-img-circle" style="background: url(img/img03.jpg);"></div>
              <div class="post-content">
                <div class="post-meta">
                  <span><em>in</em> <a href="#" title="View all posts in berita utama" rel="category tag">berita utama</a></span>
                  <span><em>April 22, 2014</em></span>
                </div>
                <div class="heading-title">
                  <h2><a href="#">Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin</a></h2>
                </div>
              </div>
            </div>
            <!-- break -->

            <div class="post-container post-noborder">
              <div class="post-img post-img-circle" style="background: url(img/img15.jpg);"></div>
              <div class="post-content">
                <div class="post-meta">
                  <span><em>in</em> <a href="#" title="View all posts in berita utama" rel="category tag">berita utama</a></span>
                  <span><em>April 22, 2014</em></span>
                </div>
                <div class="heading-title">
                  <h2><a href="#">Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin</a></h2>
                </div>
              </div>
            </div>
            <!-- break -->

          </div>
        </div>
        <!-- break -->

      </div>
      <!-- end:blog -->

      <!-- begin:popular -->
      <div class="col-md-4 col-sm-4">
        <div class="row">
          <div class="col-md-12">
            <div class="heading-title heading-title-sm bg-white">
              <h2>Popular Real Estate</h2>
            </div>
          </div>
        </div>
        <!-- break -->

        <div class="row">
          <div class="col-md-12">
            <div class="post-container">
              <div class="post-img" style="background: url(img/img12.jpg);"><h3>For Rent</h3></div>
              <div class="post-content">
                <div class="post-meta">
                  <span><i class="fa fa-home"></i> 7,000 m<sup>2</sup> / </span>
                  <span><i class="fa fa-hdd-o"></i> 3 Bed / </span>
                  <span><i class="fa fa-male"></i> 2 Bath / </span>
                  <span><i class="fa fa-building-o"></i> 2 Floors / </span>
                  <span><i class="fa fa-car"></i> 2 Garages / </span>
                </div>
                <div class="heading-title">
                  <h2><a href="#">Residential - <span>$300,000</span>/year</a></h2>
                </div>
              </div>
            </div>
            <!-- break -->

            <div class="post-container">
              <div class="post-img" style="background: url(img/img13.jpg);"><h3>For Rent</h3></div>
              <div class="post-content">
                <div class="post-meta">
                  <span><i class="fa fa-home"></i> 6,700 m<sup>2</sup> / </span>
                  <span><i class="fa fa-hdd-o"></i> 4 Bed / </span>
                  <span><i class="fa fa-male"></i> 2 Bath / </span>
                  <span><i class="fa fa-building-o"></i> 1 Floors / </span>
                  <span><i class="fa fa-car"></i> 2 Garages / </span>
                </div>
                <div class="heading-title">
                  <h2><a href="#">Commercial - <span>$700,000</span>/year</a></h2>
                </div>
              </div>
            </div>
            <!-- break -->

            <div class="post-container post-noborder">
              <div class="post-img" style="background: url(img/img14.jpg);"><h3>For Sale</h3></div>
              <div class="post-content">
                <div class="post-meta">
                  <span><i class="fa fa-home"></i> 5,000 m<sup>2</sup> / </span>
                  <span><i class="fa fa-hdd-o"></i> 3 Bed / </span>
                  <span><i class="fa fa-male"></i> 2 Bath / </span>
                  <span><i class="fa fa-building-o"></i> 1 Floors / </span>
                  <span><i class="fa fa-car"></i> 1 Garages / </span>
                </div>
                <div class="heading-title">
                  <h2><a href="#">Villa - <span>$800,000</span></a></h2>
                </div>
              </div>
            </div>
            <!-- break -->

          </div>
        </div>
        <!-- break -->

      </div>
      <!-- end:popular -->

      <!-- begin:agent -->
      <div class="col-md-4 col-sm-4">
        <div class="row">
          <div class="col-md-12">
            <div class="heading-title heading-title-sm bg-white">
              <h2>Our Agents</h2>
            </div>
          </div>
        </div>
        <!-- break -->

        <div class="row">
          <div class="col-md-12">

            <div class="post-container post-noborder">
              <div class="post-img" style="background: url(img/team03.jpg);"></div>
              <div class="post-content list-agent">
                <div class="heading-title">
                  <h2><a href="#">Julia</a></h2>
                </div>
                <div class="post-meta">
                  <span><i class="fa fa-envelope-o"></i> johndoe@domain.com</span><br>
                  <span><i class="fa fa-phone"></i> +12345678</span>
                </div>
              </div>
            </div>
            <!-- break -->

            <div class="post-container post-noborder">
              <div class="post-img" style="background: url(img/avatar.png);"></div>
              <div class="post-content list-agent">
                <div class="heading-title">
                  <h2><a href="#">John Doe</a></h2>
                </div>
                <div class="post-meta">
                  <span><i class="fa fa-envelope-o"></i> johndoe@domain.com</span><br>
                  <span><i class="fa fa-phone"></i> +12345678</span>
                </div>
              </div>
            </div>
            <!-- break -->

            <div class="post-container post-noborder">
              <div class="post-img" style="background: url(img/team01.jpg);"></div>
              <div class="post-content list-agent">
                <div class="heading-title">
                  <h2><a href="#">Jane Doe</a></h2>
                </div>
                <div class="post-meta">
                  <span><i class="fa fa-envelope-o"></i> johndoe@domain.com</span><br>
                  <span><i class="fa fa-phone"></i> +12345678</span>
                </div>
              </div>
            </div>
            <!-- break -->

          </div>
        </div>
        <!-- break -->

      </div>
      <!-- end:agent -->
    </div>
  </div>
</div>
<!-- end:news -->
